Source: eos-meta
Section: metapackages
Priority: optional
Maintainer: EndlessM Maintainers <maintainers@endlessm.com>
Uploaders: Sjoerd Simons <sjoerd.simons@collabora.co.uk>, Hector Oron <hector.oron@collabora.co.uk>, Srdjan Grubor <sgnn7@sgnn7.org>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9),
               libdpkg-perl,
               meson,
Homepage: http://www.endlessm.com

Package: eos-core
Architecture: any
Replaces: endless-core
Provides: endless-core
Conflicts: endless-core,
           libwebkit2gtk-4.0-37 (>= 1:2.18.4),
           libjavascriptcoregtk-4.0-18 (>= 1:2.18.4)
Depends: ${misc:Depends}, ${eos:Depends}
Description: Target packages of the Endless distribution
 This package depends on all packages required for the Endless OS core images
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: eos-core-i386
Architecture: i386
Depends: ${misc:Depends}, ${eos:Depends}
Description: Target packages of the Endless distribution for i386
 This package depends on all packages required for the Endless OS core images
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
 .
 This set provides the platform specific package list for i386.

Package: eos-core-amd64
Architecture: amd64
Depends: ${misc:Depends}, ${eos:Depends}
Description: Target packages of the Endless distribution for amd64
 This package depends on all packages required for the Endless OS core images
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
 .
 This set provides the platform specific package list for amd64.

Package: eos-core-arm64
Architecture: arm64
Depends: ${misc:Depends}, ${eos:Depends}
Provides: eos-core-rpi3
Description: Target packages of the Endless distribution for arm64
 This package depends on all packages required for the Endless OS core images
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
 .
 This set provides the platform specific package list for arm64.

Package: eos-core-nexthw
Architecture: amd64
Depends: ${misc:Depends}, ${eos:Depends}
Description: Target packages of the Endless distribution for amd64 nexthw
 This package depends on all packages required for the Endless OS core images
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
 .
 This set provides the platform specific package list for amd64 nexthw
 builds. These builds provide newer hardware enablement on top of the
 standard amd64 builds.

Package: eos-installer-meta
Architecture: any
Depends: ${misc:Depends}, ${eos:Depends}
Description: Target packages of the Endless installer
 This metapackage depends on all packages required for the Endless
 installer tool.

Package: eos-installer-meta-i386
Architecture: i386
Depends: ${misc:Depends}, ${eos:Depends}
Description: Target packages of the Endless installer
 This metapackage depends on all packages required for the Endless
 installer tool.
 .
 This set provides the platform specific package list for i386.

Package: eos-installer-meta-amd64
Architecture: amd64
Depends: ${misc:Depends}, ${eos:Depends}
Description: Target packages of the Endless installer
 This metapackage depends on all packages required for the Endless
 installer tool.
 .
 This set provides the platform specific package list for amd64.

Package: eos-installer-meta-nexthw
Architecture: amd64
Depends: ${misc:Depends}, ${eos:Depends}
Description: Target packages of the Endless installer
 This metapackage depends on all packages required for the Endless
 installer tool.
 .
 This set provides the platform specific package list for nexthw.

Package: eos-dev
Architecture: all
Depends: ${misc:Depends}, ${eos:Depends}
Recommends: ${eos:Recommends}
Suggests: ${eos:Suggests}
Description: EndlessOS Development Tools
 This is a collection of development tools that make development and debugging
 of EndlessOS easier and more efficient.

Package: eos-dev-kernel
Architecture: any
Depends: ${misc:Depends}, ${eos:Depends}
Description: EndlessOS Kernel Team Development Tools
 This is a collection of development tools for the Kernel team that make
 development and debugging of EndlessOS easier and more efficient.

Package: eos-dev-kernel-amd64
Architecture: amd64
Depends: ${misc:Depends}, ${eos:Depends}
Description: EndlessOS Kernel Team Development Tools
 This is a collection of development tools for the Kernel team that make
 development and debugging of EndlessOS easier and more efficient.
 .
 This set provides the platform specific package list for amd64.

Package: eos-tech-support
Architecture: all
Depends: ${eos:Depends},
         ${misc:Depends},
         ostree (>= 2018.8),
         pulseaudio-utils,
         usbutils,
Description: EndlessOS Technical Support Tools
 This is a collection of technical support tools that are installed by default
 with the EndlessOS operating system.  They are not required as part of the
 normal user experience but are relatively small and helpful for advanced
 troubleshooting.

Package: eos-toolbox-dev
Architecture: all
Depends: ${misc:Depends}, ${eos:Depends}
Description: EndlessOS Development Tools for eos-toolbox container images
 This is a collection of development tools included in the eos-toolbox
 container images
