Source: eos-shell-apps
Section: non-free/misc
Priority: extra
Maintainer: Endless Mobile <maintainers@endlessm.com>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.9.2
Homepage: http://www.endlessm.com

Package: eos-shell-apps
Architecture: any
Depends: eos-celebrities,
         eos-cooking,
         eos-english,
         eos-exploration-center,
         eos-file-manager,
         eos-fitness,
         eos-futbol,
         eos-guatemala,
         eos-keyring,
         eos-media,
         eos-mexico,
         eos-khanacademy,
         eos-language-pack-en,
         eos-language-pack-es,
         eos-language-pack-pt,
         eos-photos,
         eos-programming,
         eos-resume,
         eos-science,
         eos-social,
         eos-tech-support,
         eos-translation,
         eos-travel,
         eos-typing,
         eos-updater,
         eos-wikipedia,
         eos-wikipedia-brazil,
         eos-wikipedia-health,
         eos-youtube,
         eos-weather,
         aisleriot,
         armagetronad,
         audacity[i386],
         billard-gl[i386],
         blockout2[i386],
         chromium-browser,
         chromium-bsu[i386],
         empathy,
         eog,
         evolution,
         evolution-data-server,
         file-roller,
         foomatic-db-compressed-ppds,
         freeciv-client-gtk,
         frostwire,
         frozen-bubble,
         gcompris,
         gedit,
         gimp(>=2.8),
         gnome-calculator,
         gnome-genius,
         gnome-sudoku,
         gnome-sushi,
         gnote,
         goldendict,
         icedtea-plugin,
         inkscape,
         kobodeluxe[i386],
         lbreakout2,
         libnss-altfiles,
         libreoffice-calc,
         libreoffice-core,
         libreoffice-writer,
         numptyphysics,
         openarena[i386],
         openprinting-ppds,
         pingus,
         printer-driver-gutenprint,
         rhythmbox (>= 2.99.1),
         shotwell,
         stellarium[i386],
         sudoku,
         supertux[i386],
         supertuxkart[i386],
         system-config-printer,
         teeworlds[i386],
         totem,
         tuxmath,
         tuxtype,
         unoconv,
         xkb-data-i18n,
         xdg-user-dirs-gtk
Recommends: eos-plymouth-theme,
            libreoffice,
            unrar
Replaces: update-notifier-common
Description: EndlessOS Applications
 This is a collection of applications for the EndlessOS operating system.

Package: eos-language-pack-en
Architecture: all
Depends: gcompris-sound-en,
         hyphen-en-us,
         libreoffice-help-en-us,
         hunspell-en-us
Description: EndlessOS English Language Pack
 This is a collection of English  language packs for the EndlessOS operating system.

Package: eos-language-pack-es
Architecture: all
Depends: gcompris-sound-es,
         libreoffice-help-es,
         libreoffice-l10n-es,
         myspell-es,
         wspanish
Description: EndlessOS Spanish Language Pack
 This is a collection of Spanish language packs for the EndlessOS operating system.

Package: eos-language-pack-pt
Architecture: all
Depends: gcompris-sound-pt,
         gcompris-sound-ptbr,
         libreoffice-help-pt,
         libreoffice-help-pt-br,
         libreoffice-l10n-pt,
         libreoffice-l10n-pt-br,
         myspell-pt,
         myspell-pt-br
Description: EndlessOS Portuguese Language Pack
 This is a collection of Portuguese language packs for the EndlessOS operating system.

Package: eos-tech-support
Architecture: all
Depends: bash-completion,
         lshw,
         traceroute,
Description: EndlessOS Technical Support Tools
 This is a collection technical support tools that are installed by default with the EndlessOS operating system.  They are not required as part of the normal user experience but are relatively small and helpful for advanced troubleshooting.

Package: eos-dev
Architecture: all
Depends: apt-file                       ,
         apt-utils                      ,
         autoconf                       ,
         automake                       ,
         bash-completion                ,
         bonnie++                       ,
         build-essential                ,
         byobu                          ,
         ccache                         ,
         dconf-editor                   ,
         debian-keyring                 ,
         debian-archive-keyring         ,
         debootstrap                    ,
         devhelp                        ,
         devscripts                     ,
         diffutils                      ,
         elinks                         ,
         emacs                          ,
         exuberant-ctags                ,
         fluxbox                        ,
         gdb                            ,
         gdebi                          ,
         germinate                      ,
         git                            ,
         gitk                           ,
         gnome-api-docs                 ,
         gnome-common                   ,
         gnome-devel-docs               ,
         gparted                        ,
         htop                           ,
         iftop                          ,
         iotop                          ,
         language-pack-es               ,
         language-pack-pt               ,
         lftp                           ,
         libjson-glib-doc               ,
         locate                         ,
         lsof                           ,
         ltrace                         ,
         make                           ,
         moreutils                      ,
         nethogs                        ,
         nmap                           ,
         openssh-server                 ,
         osc                            ,
         p7zip-full                     ,
         patchutils                     ,
         pbuilder                       ,
         pep8                           ,
         putty                          ,
         pyflakes                       ,
         python-pip                     ,
         quilt                          ,
         screen                         ,
         sl                             ,
         strace                         ,
         sysstat                        ,
         tcpdump                        ,
         tig                            ,
         tmux                           ,
         ubuntu-keyring                 ,
         util-linux                     ,
         valgrind                       ,
         vim                            ,
         x11-utils                      ,
         x11-xserver-utils              ,
         zenity                         ,
         zsh
Recommends: eos-dev-config              ,
            synergy
Description: EndlessOS Development Tools
 This is a collection of development tools that make development and debugging
 of EndlessOS easier and more efficient.
