Source: eos-meta
Section: metapackages
Priority: optional
Maintainer: EndlessM Maintainers <maintainers@endlessm.com>
Uploaders: Sjoerd Simons <sjoerd.simons@collabora.co.uk>, Hector Oron <hector.oron@collabora.co.uk>, Srdjan Grubor <sgnn7@sgnn7.org>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9), germinate (>= 1.18)
Homepage: http://www.endlessm.com

Package: eos-core
Architecture: any
Replaces: endless-core
Provides: endless-core
Conflicts: endless-core
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: Target packages of the Endless distribution
 This package depends on all packages required for the Endless OS core images
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: eos-apps
Architecture: any
Replaces: eos-shell-apps
Provides: eos-shell-apps
Conflicts: eos-shell-apps
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: EndlessOS Applications
 This is a collection of applications for the EndlessOS operating system.

Package: eos-dev
Architecture: all
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: EndlessOS Development Tools
 This is a collection of development tools that make development and debugging
 of EndlessOS easier and more efficient.

Package: eos-language-pack-en
Architecture: all
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: EndlessOS English Language Pack
 This is a collection of English  language packs for the EndlessOS operating
 system.

Package: eos-language-pack-es
Architecture: all
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: EndlessOS Spanish Language Pack
 This is a collection of Spanish language packs for the EndlessOS operating
 system.

Package: eos-language-pack-pt
Architecture: all
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: EndlessOS Portuguese Language Pack
 This is a collection of Portuguese language packs for the EndlessOS operating
 system.

Package: eos-tech-support
Architecture: all
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: EndlessOS Technical Support Tools
 This is a collection technical support tools that are installed by default
 with the EndlessOS operating system.  They are not required as part of the
 normal user experience but are relatively small and helpful for advanced
 troubleshooting.
